*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('imgs/arriereplan.jpg') ;
    background-position: center;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    background-color:lightblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:99;
}

.logo{
    font-size: 2em;
    color:white;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 50px;
    left:0;
    bottom:-6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.navigation .bouton-login{
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    margin-left:30px;
    font-size:1.1em;
    color:rgb(255, 255, 255);
    font-weight: 500;
    transition: .5s;
    border-radius:30px;
}

.bouton-logout{
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    margin-left:30px;
    font-size:1.1em;
    color:rgb(255, 255, 255);
    font-weight: 500;
    transition: .5s;
    border-radius:30px;
}

.navigation .bouton-login:hover{
    background-color: white;
    color: black;
}

.navigation .bouton-logout:hover{
    background-color: white;
    color: black;
}

.wrapper{
    top:150px;
    position:relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 35px;
    backdrop-filter: blu(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}


.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position:absolute;
    top:0.7em;
    right:0.7em;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index:1;
}

.form-box h2{
    font-size: 1.5em;
    color:black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 1em;
    color:black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.3em;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: rgb(31, 167, 13);
    margin-right:3px;
}

.remember-forgot a {
    color:black;
    text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    margin-top:40px; /* A retirer si Register */
    margin-left:60px;
    width: 60%;
    height: 40px;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor:pointer;
}

.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 15px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin: 7px;
}

.login-register p a:hover{
    text-decoration: underline;
    
}

.form-formulaire{
    border-style: solid;
    backdrop-filter: invert(20%);
    margin-top: 150px;
    margin-bottom: 75px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 50px;
    padding-top: 15px;
    border-radius: 40px;
}

.input-box2{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-top:45px;
}

.input-box2 label{
    position: absolute;
    top: -60%;
    left: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    pointer-events: none;
}

.input-box2 input{
    width: 100%;
    height: 70%;
    background: transparent;
    font-size: 1em;
    color:black;
    font-weight: bold;
    padding: 0 35px 0 5px;
    border-radius: 10px;

}

.questionnaire-text{
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: 30px;
    margin-left: 30px;
}

.btn2{
    margin-left:-14.5px;
    width: 110%;
    height: 40px;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor:pointer;
}

.input-box3{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-top:45px;
    border:none;
}

.input-box3 label{
    position: absolute;
    top: -60%;
    left: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    pointer-events: none;
}

.input-box3 input{
    width: 100%;
    height: 70%;
    background: transparent;
    font-size: 1em;
    color:black;
    font-weight: bold;
    padding: 0 35px 0 5px;
    border-radius: 10px;
}

.radio-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-group input {
    display: inline-block;
    margin-right: -70px;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.radio-option label {
    margin-left: 5px;
}

.input-box4 label, .input-box5 label, .input-box6 label, .input-box7 label, .input-box8 label, .input-box9 label, .input-box10 label, .input-box11 label
{
    top: -60%;
    left: 5px;
    font-size: 20px;
    color: black;
    pointer-events: none;
}

.input-box4 input, .input-box5 input, .input-box6 input, .input-box7 input, .input-box8 input, .input-box9 input, .input-box10 input, .input-box11 input
{
    width: 100%;
    height: 70%;
    background: transparent;
    font-size: 1em;
    color:black;
    font-weight: bold;
    padding: 0 35px 0 5px;
    border-radius: 10px;
}

.input-box4, .input-box5, .input-box6, .input-box7, .input-box8, .input-box9, .input-box10, .input-box11
{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-top:45px;
    margin-bottom:80px;
    border:none;
}

.input-box4-label, .input-box5-label, .input-box6-label, .input-box7-label, .input-box8-label, .input-box9-label, .input-box10-label, .input-box11-label
{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.input-boxjourabs
{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-top:45px;
}

.input-boxjourabs label
{
    margin-left:-5px;
    margin-top:25px;
    position: absolute;
    top: -60%;
    left: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    pointer-events: none;
}

.input-boxjourabs input{
    margin-left:-2px;
    margin-top:30px;
    width: 15%;
    height: 70%;
    background: transparent;
    font-size: 1em;
    color:black;
    font-weight: bold;
    padding: 0 35px 0 5px;
    border-radius: 10px;
}

.input-box6-label, .input-box7-label, .input-box8-label, .input-box9-label, .input-box10-label, .input-box11-label
{
    padding-bottom:25px ;
}

.input-box6 label, .input-box7 label, .input-box8 label, .input-box9 label, .input-box10 label, .input-box11 label
{   
    padding-right:30px;
}

.btn3
{
    margin-left:150px;
    width: 50%;
    height: 40px;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor:pointer;
}

.btn4
{
    margin-top:15px;
    margin-left:150px;
    width: 50%;
    height: 40px;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor:pointer;
}

.confirmation-page1
{
    padding:50px;
    font-size:25px;
    margin-top:300px;
    position:absolute;
    background-color:lightblue;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius:15px;
    z-index:-1;
}

.confirmation-page2
{
    padding:40px;
    font-size:25px;
    margin-top:431px;
    position:absolute;
    background-color:lightblue;
    border-width:30px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius:15px;
    padding-top:5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top:none;
}

